

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  padding: 26px 221px 45px 211px;
}


/* header */
.header{
  background-image: url('../assets/Hero-bg.png');


.btn-primary{
    background-color: #0D1321;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    padding: 21px 24px;
    border-radius: 8px;
}