

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
}


/* header */
.header{
  max-width: 1140px;
  margin: 0 auto;
  padding: 130px 150px;
}
.header{
  background-image: url('../assets/Hero-bg.png');}
  

.btn-primary{
    background-color: #0D1321;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    padding: 21px 24px;
    border-radius: 8px;
}
/* Nav style */
.main{
  color: #0D1321;
}
/* shared style */
.secondary-bg{
  background-color: #0d13210e;
}
.section-title{
  font-size: 32px;
  font-weight: bolder;
  color: #0D1321;
}
.section-description{
  font-size: 16px;
  color: #0d1321a8;
}
/* about styles */
.about{
  border-radius: 10px;

}

/* main styles */
main{
  max-width: 1140px;
  margin: 0 auto;
  padding: 130px 150px;
  margin-top: 74px;
}
/* banner-styles*/
.banner-pic{
  width: 275px;
}
.secondary-bg{
  display: flex;
}